# Ignore my specific project files
/.project

# Ignore testing images
/Client/images
# Except some basic of them
!/Client/images/cat_big.png
!/Client/images/cat_small.png

*.o
*.c~
.gitignore
server_tcp
test
.gitignore~
Support/*

